venv/
*.pyc
__pycache__/

#data/
#!data/breast-cancer-wisconsin.csv
#!data/cancer_metadata.json

models/*
!models/.gitkeep

notebooks/.ipynb_checkpoints/

.idea/

*.log
.DS_Store
Thumbs.db

*.swp
*.swo
